<!DOCTYPE html>
<html>
<title>KacprzykBot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://wallpaperaccess.com/full/2413558.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    ThePhaseless
  </div>
  <div class="w3-display-middle">
    <h1 style="font-weight: bold; font-family: 'Courier New', monospace;" class="w3-jumbo w3-animate-top">Kacprzyk Bot
    </h1>
    <hr class="w3-border-white" style="margin:auto;width:40%">
    <h1 style="font-weight: bold; font-family: 'Courier New', monospace;" class="w3-jumbo w3-center w3-animate-bottom saving">działa<span>.</span><span>.</span><span>.</span>
    </h1>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
  <div class="w3-display-topright w3-padding-large">
    <a href="https://github.com/MyNameKuba/KacprzykBot" target="_blank">GitHub</a>
  </div>
</div>

</body>
</html>
